<div class="contactContainer">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="header">Contact</h5>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h6 class="subHeader">I'd Love To Hear From You.</h6>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <p class="description">
            You can reach out to me by any means of communication. I will be
            happy to hear from you.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-ls-3 col-xl-3">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <i class="fas fa-map-marker-alt fontAwesomeIcon contactIcon"></i>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h6 class="contactType">ADDRESS</h6>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <p class="contactValue">Saligrama, Mysore, Karnataka</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-ls-3 col-xl-3">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <i class="fas fa-phone-square-alt fontAwesomeIcon contactIcon"></i>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h6 class="contactType">CALL</h6>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a class= "contactValue"
                  href="tel:7259238744"
                  target="_top"
                  >+91 7259238744</a
                >
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-ls-3 col-xl-3">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <i class="fas fa-envelope fontAwesomeIcon contactIcon"></i>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h6 class="contactType">EMAIL</h6>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a class= "contactValue"
                  href="mailto:shashankgowda608@gmail.com?Subject=&body=Hi Shashank,"
                  target="_top"
                  >shashankgowda608@gmail.com</a
                >
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-ls-3 col-xl-3">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <i class="fas fa-users fontAwesomeIcon contactIcon"></i>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <h6 class="contactType">SOCIAL NETWORK</h6>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <i
                class="fab fa-github fontAwesomeIcon socialAppIcon"
                (click)="openSocialApp('github')"
              ></i>
              <i
                class="fab fa-linkedin fontAwesomeIcon socialAppIcon"
                (click)="openSocialApp('linkedIn')"
              ></i>
              <i
                class="fab fa-facebook fontAwesomeIcon socialAppIcon"
                (click)="openSocialApp('facebook')"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3 mb-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-ls-6 col-xl-6 d-flex justify-content-center justify-content-md-end copyrightTag">
          <i class="far fa-copyright copyrightIcon"></i> Copyright Shashank 2021
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-ls-6 col-xl-6 d-flex justify-content-center justify-content-md-start designByTag">
          Design by Shashank
        </div>
      </div>
    </div>
  </div>
</div>
