<div class="about-container">
<div class="row container-row">
  <div class="col-12 d-flex justify-content-center">
     <h5 class="header">About</h5>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <h6 class="subHeader">I am a Front End Developer</h6>
  </div>
  <div class="col-12">
    <div class="row about-content-row justify-content-center">
      <div class="col-12 col-sm-12 col-md-auto d-flex justify-content-center align-items-center">
        <img src="assets/images/shashank_profile_pic_2.png" alt="profile-pic" class="profile-pic">
      </div>
      <div class="col-12 col-sm-12 col-md-8 d-flex justify-content-center align-items-center">
        <p class="aboutDesc">Currently based in Udupi, Karnataka as a Hybrid Application Developer with overall 3+ years of
        experience in UI development. Born in Mysore, Karnataka. Completed my Bachelor's of Engineering
        in PES College Of Engineering, Mandya.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row  justify-content-center">
      <div class="col-12 col-sm-12 col-md-auto d-flex justify-content-center">
        <button class="btn getInTouchBtn" type="submit">
          Get In Touch?</button>
      </div>
      <div class="col-12 col-sm-12 col-md-auto d-flex justify-content-center">
        <a class="btn getMyCvBtn" href="assets/files/SHASHANK_CV.pdf" download = "Shashank_Resume">
          Get My CV?</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row appIconsRow justify-content-center">
      <div class="col-10 col-sm-10 col-md-2 d-flex justify-content-between">
        <i class="bi bi-github appIcon" (click) = "openSocialApp('github')"></i>
        <i class="bi bi-linkedin appIcon" (click) = "openSocialApp('linkedIn')"></i>
        <i class="bi bi-facebook appIcon" (click) = "openSocialApp('facebook')"></i>
      </div>
    </div>
  </div>
</div>
</div>
