.about-container {
  background-color: #ffffff;
  padding: 20px;

  .about-content-row {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .profile-pic {
    height: 150px;
    width: 150px;
  }

  .getInTouchBtn {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #ffffff;
  }

  .getMyCvBtn {
    color: #ffffff;
    background-color: var(--primary-color);
  }

  .appIconsRow {
    margin-top: 20px;
  }

  .personIcon {
    position: relative;
    top: 3px;
  }

  .bioDataContainer {
    position: relative;
    left: 6px;
    margin-bottom: 20px;

    .bioDataRow {
      .bio-val-col {
        padding: 10px 0px 10px 15px;
        border-left: 2px solid var(--primary-color);
      }
      .bio-key-col {
        padding: 10px 15px 10px 0px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .getInTouchBtn,
    .getMyCvBtn {
      padding: 10px auto 10px auto;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: 769px) {
    .subHeader {
      font-size: 25px;
    }

    .getInTouchBtn,
    .getMyCvBtn {
      padding: 20px;
    }
  }
}
