<div class="cover-container">
  <div class="row container-row">
    <div class="col p-0">
      <div class="cover-intro">
        <h1 class="d-flex justify-content-center">Hi! I am Shashank.</h1>
        <div class="skillsDiv row justify-content-center">
          <div
            class="
              col-12 col-sm-auto col-md-auto
              d-flex
              justify-content-center
            "
            *ngFor="let skill of skills"
          >
            <p class="m-0">{{ skill }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down">
    <span></span>
    <span></span>
    <span></span>
 </div>
</div>
