<div class="hobbiesContainer">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h5 class="header">Hobbies</h5>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-auto p-0">
          <div
          id="hobbiesCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-touch="true"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#hobbiesCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#hobbiesCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#hobbiesCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div
                  class="
                    col-12 col-sm-12 col-md-auto
                  "
                >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        <i class="fas fa-swimmer fontAwesomeIcon"></i>
                        Swimming
                      </h5>
                      <p class="card-text description">
                       I am an expert in swimming. I have learnt 4 swimming styles - Freestyle, Backstroke, Butterfly and Breaststroke. And I engage myself practicing these strokes whenever I can.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div
                  class="
                    col-12 col-sm-12 col-md-auto
                  "
                >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        <i class="fas fa-biking fontAwesomeIcon"></i>
                        Cycling
                      </h5>
                      <p class="card-text description">
                        Cycling is one of the activity I would do in my free time. I use strava activity tracker and have recorded many stats. My longest ride is 31.70km.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div
                  class="
                    col-12 col-sm-12 col-md-auto
                  "
                >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        <i class="fas fa-praying-hands fontAwesomeIcon"></i>
                        Yoga
                      </h5>
                      <p class="card-text description">
                        I practice yoga everyday. Though I am not good at remembering posture names, I give a good stretch to my body everyday.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
