:root {
  /* You can add global styles to this file, and also import other style files */

  --primary-color: #eba63f;

  body {
    background-color: #2e2e2e;
    font-family: "Poppins", sans-serif;
  }

  .header {
    letter-spacing: 2px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
  }

  .subHeader {
    color: #313131;
    line-height: 1.25;
    font-weight: 600;
  }

  .description {
    color: #6e6e6e;
    font-weight: 400;
    margin-top: 20px;
  }

  .fontAwesomeIcon {
    color: var(--primary-color);
  }

  @media only screen and (max-width: 768px) {
    .header {
      font-size: 18px;
    }
    .subHeader {
      font-size: 20px;
    }
    .description {
      font-size: 16px;
      line-height: 2rem;
    }
    .fontAwesomeIcon {
      font-size: 25px;
    }
  }

  @media only screen and (min-width: 769px) {
    .header {
      font-size: 20px;
    }
    .subHeader {
      font-size: 25px;
    }
    .description {
      font-size: 20px;
      line-height: 3rem;
    }
    .fontAwesomeIcon {
      font-size: 35px;
    }
  }
}
